office-app/wadl/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://research.sun.com/wadl/2006/10">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.8 06/24/2011 12:17 PM"/>
    <resources base="http://localhost:9080/office/resources/">
        <resource path="/reportsto">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/address">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/addresstype">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/email">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/admin">
            <resource path="/test">
                <method name="GET" id="test"/>
            </resource>
            <resource path="/createuser">
                <method name="PUT" id="createUser">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/login">
                <method name="PUT" id="login">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/phone">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/emailtype">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/emergencycontact">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/social">
            <resource path="/employeefeed/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getEmployeeFeed">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/employee">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="table">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/phone/{empId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="empId"/>
                <method name="PUT" id="addPhone">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/address/{empId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="empId"/>
                <method name="PUT" id="addAddress">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/email/{empId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="empId"/>
                <method name="PUT" id="addEmail">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/reportsto/{empId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="empId"/>
                <method name="PUT" id="addReportsTo">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/emergencycontact/{empId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="empId"/>
                <method name="PUT" id="addEmergencyContact">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/addresses/{id}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getAddresses">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/emails/{id}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getEmails">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/phones/{id}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getPhones">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reportstos/{id}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getReportsTos">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/emergencycontacts/{id}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getEmergencyContacts">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/company">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/file">
            <resource path="/upload">
                <method name="POST" id="uploadFile">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/phonetype">
            <method name="PUT" id="save">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/size">
                <method name="GET" id="size">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/delete/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="PUT" id="delete"/>
            </resource>
            <resource path="/search/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="PUT" id="search">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search/{searchText}/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="searchText"/>
                <method name="GET" id="search">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:long" style="template" name="id"/>
                <method name="GET" id="read">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/dropdown/{start}/{limit}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="limit"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="start"/>
                <method name="GET" id="getDropDown">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param2"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="param3"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
